# Python
__pycache__/
*.py[cod]
*.so
frontend/node_modules/
node_modules/
# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
.env

# Django migrations
*/migrations/*.py[cod]

# VSCode
.vscode/
*.code-workspace

# Virtual environments
venv/
.venv/
env/
ENV/

# Testing & type checking
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# OS files
.DS_Store

# Local email output
sent_emails/

# React build
frontend/build/

# Static files collected by Django
staticfiles/

