body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f7fb;
  color: #102033;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
